{% extends 'base.html' %}

{% block content %}
{% for animal in queryset %}
<div class="media" >
  <img src={{ animal.image_url }} class="align-self-start mr-3" alt="..." width="300" height="300">
<div class="card"  style="width: 30rem;">
<ul class="list-group list-group-horizontal" style="width: 30rem;">
  <li class="list-group-item" style="width: 18rem;">Nazwa</li>
  <li class="list-group-item" style="width: 18rem;">{{ animal.name }}</li>
</ul>
    <ul class="list-group list-group-horizontal">
  <li class="list-group-item" style="width: 18rem;">Pożywienie</li>
  <li class="list-group-item" style="width: 18rem;">{{animal.eat}}</li>
</ul>
    <ul class="list-group list-group-horizontal">
  <li class="list-group-item" style="width: 18rem;">Typ</li>
  <li class="list-group-item" style="width: 18rem;">{{ animal.type }}</li>
</ul>
    <ul class="list-group list-group-horizontal">
  <li class="list-group-item" style="width: 18rem;">Środowisko</li>
  <li class="list-group-item" style="width: 18rem;">{{ animal.environment }}</li>

    </ul>
    <ul class="list-group list-group-horizontal">
  <li class="list-group-item" style="width: 18rem;">Klimat</li>
  <li class="list-group-item" style="width: 18rem;">{{ animal.climate }}</li>
</ul>
</div></div>


{% endfor %}



{% endblock %}